@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Feature.Blog.Models
@using System.Collections.Generic
@using Sitecore.Foundation.Grid.Models
@using Sitecore.Foundation.Alerts.Models
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Indexing.Search.Models
@using System.Linq

@inherits GlassView<SearchResponse<IBlogArticle>>

@if (!Model.Results.Any() && Sitecore.Context.PageMode.IsExperienceEditor)
{
    var warningModel = new RenderingAlertModel()
    {
        Title = "Blog Listing (No articles)",
        Description = "There are no articles to display. When you view this rendering in the experience editor, outside the context of a site, no articles will display. This message will not display when viewed normally."
    };
    <div class="grid-container">

        <div class="grid-x grid-padding-x">
            <div class="cell">
                @Html.ShowRenderingAlert(warningModel)
            </div>
        </div>
    </div>

    return;
}

<div class="latest-news">
    <div class="grid-x grid-padding-x">

        @foreach (var blog in Model.Results)
        {
            if (blog == null)
            {
                continue;
            }

            @Html.Partial("~/Views/Feature/Blog/_BoxBlog.cshtml", blog)
        }
    </div>
    @{

        int? previousPage = Model.Page - 1;
        int? nextPage = Model.Page + 1;

        if (previousPage < 1)
        {
            previousPage = (int?)null; ;
        }

        if (nextPage >= Model.TotalPages)
        {
            nextPage = (int?)null;
        }
    }
    <div class="pagination">
        <ul>
            @if (previousPage.HasValue)
            {
                <li>
                    <a href="?page=@previousPage.Value" title="Previous page">
                        <i class="icon icon-chevron-left"></i>
                    </a>
                </li>
            }
            @if (nextPage.HasValue)
            {
                <li>
                    <a href="?page=@nextPage.Value" title="Next page">
                        <i class="icon icon-chevron-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
