.blog-author {
  display: flex;
  border-top: 1px solid color(border);
  @include padding(top, default);
}

.blog-author__image {
    max-width: 150px;
    @include margin(right, default);
}

.blog-author__name {
    @include h3
}

