.related-posts__lists {
    list-style: none;
    padding:0;
}

.related-post__link {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.related-post__date {
    @include smalltext;
}

.related-post {
    @include margin(bottom, default);
    @include padding(bottom, default);
    border-bottom: 1px solid color(border);

    &:last-child {
        border-bottom: 0;
    }
}
